<template lang="pug">
  div.container.center.grid
    vs-row
      vs-col
        h1.white.text A-Zero
        p
        | It's an authentication method with a blind key generator system.
        | You can find an example generator below.
        | It's a simple tool to prevent request duplication spam.
    vs-row
      vs-col
        h2.white.text Generator
    vs-row
      vs-col Prefix
        vs-input(v-model="prefix" placeholder="Prefix" :success="validPrefix()" :danger="!validPrefix()" disabled)
          template(#message-danger v-if="!validPrefix()") Needs to be something.
    vs-row
      vs-col Length
        vs-input(v-model="length" placeholder="Length" :success="validLength()" :danger="!validLength()" disabled)
          template(#message-danger v-if="!validLength()") Needs to be at least twice the number of separators.
    vs-row
      vs-col Modifier
        vs-input(v-model="modifier" placeholder="Modifier" :success="validModifier()" :danger="!validModifier()" disabled)
          template(#message-danger v-if="!validModifier()") The modifier needs to be between 0 and 9.
    vs-row
      vs-col New Splitter
        vs-input(v-model="newSplitter" placeholder="New Splitter" :success="validNewSplitter()" :danger="!validNewSplitter()" disabled)
          template(#message-danger v-if="!validNewSplitter()") Can't be a position longer than the length and needs to be unique.
        vs-button(icon @click="addSplitter()" :success="valid()" :danger="!valid()" disabled)
          i.bx.bx-plus
    vs-row
      vs-col Splitters
        vs-button(v-for="splitter in splitters" :key="splitter" border @click="delSplitter(splitter)" disabled) {{splitter}}
    vs-row
      vs-col
        vs-button(@click="generate()" :success="valid()" :danger="!valid()") Generate
    vs-row(v-if="token")
      vs-col Token
      p {{token}}
</template>

<script lang="ts">
import Vue from 'vue'
import Validator from '@/middleware/validator'

const lcv = new Validator()

export default Vue.extend({
  data () {
    return {
      prefix: 'lc',
      length: 32,
      modifier: 8,
      splitters: [10, 21],
      newSplitter: 0,
      token: ''
    }
  },
  methods: {
    validPrefix () {
      return this.prefix.length > 0
    },
    validLength () {
      return this.length >= (this.splitters.length * 2)
    },
    validModifier () {
      return this.modifier <= 9 && this.modifier >= 0
    },
    validSplitters () {
      let validSplitters = true
      this.splitters.forEach((splitter) => {
        if (splitter >= this.length) {
          validSplitters = false
        }
      })
      return validSplitters
    },
    validNewSplitter () {
      return (this.newSplitter < this.length) && (this.splitters.indexOf(Number(this.newSplitter)) === -1)
    },
    valid () {
      return this.validPrefix() && this.validLength() && this.validModifier() && this.validSplitters()
    },
    addSplitter () {
      if (this.validNewSplitter()) {
        this.splitters.push(Number(this.newSplitter))
        this.newSplitter = 0
      }
      this.splitters.sort()
    },
    removeItem<T>(arr: Array<T>, value: T): Array<T> {
      const index = arr.indexOf(value);
      if (index > -1) {
        arr.splice(index, 1);
      }
      return arr;
    },
    delSplitter (splitter: Number) {
      this.removeItem(this.splitters, splitter)
    },
    generate () {
      this.token = lcv.makeKey()
    }
  }
})
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body {
  font-family: 'Nunito', sans-serif;
}
</style>
